.logo, .logo-xs
{
  font-family: 'Ruthie', cursive;
  font-weight: normal;
  color: #fffbdd
}

.logo
{
  font-size: 175%;
}

.logo-xs
{
  font-size: 75%;
}

span.icon
{
  color: #a7a0b5;
}

h1.visible-xs span.icon-pen
{
  font-size: 50%;
}

header p
{
font-family: 'Neuton', serif;
}

.all-caps { text-transform: uppercase; }
